<section class="tf-section2 flat-skill">
  <div class="themes-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="heading-section center">
          <h5>Testimonial</h5>
          <h2 class="title-section"> I Develop Skills Regularly</h2>
        </div>
        <div class="wrap-skill flex">
          <div class="wrap-progress">
            <div class="content-progress-box">
              <div class="progress-bar" data-percentage="95%">
                <h4 class="progress-title-holder flex-one">
                  <span class="progress-title">WordPress</span>
                  <span class="progress-number"> 95% </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content style-1"></div>
                </div>
              </div>
            </div>
            <div class="content-progress-box">
              <div class="progress-bar" data-percentage="75%">
                <h4 class="progress-title-holder flex-one">
                  <span class="progress-title">Joomla</span>
                  <span class="progress-number"> 75% </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content style-2"></div>
                </div>
              </div>
            </div>
            <div class="content-progress-box">
              <div class="progress-bar" data-percentage="90%">
                <h4 class="progress-title-holder flex-one">
                  <span class="progress-title">Drupal</span>
                  <span class="progress-number"> 90% </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content style-3"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="wrap-progress">
            <div class="content-progress-box">
              <div class="progress-bar" data-percentage="70%">
                <h4 class="progress-title-holder flex-one">
                  <span class="progress-title">C</span>
                  <span class="progress-number"> 70% </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content style-4"></div>
                </div>
              </div>
            </div>
            <div class="content-progress-box">
              <div class="progress-bar" data-percentage="80%">
                <h4 class="progress-title-holder flex-one">
                  <span class="progress-title">PHP</span>
                  <span class="progress-number"> 80% </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content style-5"></div>
                </div>
              </div>
            </div>
            <div class="content-progress-box">
              <div class="progress-bar" data-percentage="60%">
                <h4 class="progress-title-holder flex-one">
                  <span class="progress-title">JavaSrcript</span>
                  <span class="progress-number"> 60% </span>
                </h4>
                <div class="progress-content-outter">
                  <div class="progress-content style-6"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
