<section class="tf-section2 flat-testimonial">
  <div class="themes-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="heading-section center">
          <h5>Testimonial</h5>
          <h2 class="title-section"> We Care About Our Customers Experience Too</h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="wrap-testimonial">
          <div class="images">
            <img src="../../../../assets/images/dreamy-young-woman-sunglasses-looking-front_197531-16739.webp" alt="img">
          </div>
          <div class="content">
            <h3><a href="#"> Vera Duncan</a></h3>
            <div class="sub-title text-p">Amazon Inc.</div>
            <p>When, while lovely valley teems with vapour around meand meridian sun strikes the upper impenetrable .</p>
            <span class="star">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                  </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="wrap-testimonial active">
          <div class="images">
            <img src="../../../../assets/images/dreamy-young-woman-sunglasses-looking-front_197531-16739.webp" alt="img">
          </div>
          <div class="content">
            <h3><a href="#"> Mark Smith</a></h3>
            <div class="sub-title text-p">Amazon Inc.</div>
            <p>When, while lovely valley teems with vapour around meand meridian sun strikes the upper impenetrable .</p>
            <span class="star">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                  </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="wrap-testimonial">
          <div class="images">
            <img src="../../../../assets/images/dreamy-young-woman-sunglasses-looking-front_197531-16739.webp" alt="img">
          </div>
          <div class="content">
            <h3><a href="#"> Bruce Hardy</a></h3>
            <div class="sub-title text-p">Amazon Inc.</div>
            <p>When, while lovely valley teems with vapour around meand meridian sun strikes the upper impenetrable .</p>
            <span class="star">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                  </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="wrap-testimonial style-mobi">
          <div class="images">
            <img src="../../../../assets/images/dreamy-young-woman-sunglasses-looking-front_197531-16739.webp" alt="img">
          </div>
          <div class="content">
            <h3><a href="#"> Vera Duncan</a></h3>
            <div class="sub-title text-p">Amazon Inc.</div>
            <p>When, while lovely valley teems with vapour around meand meridian sun strikes the upper impenetrable .</p>
            <span class="star">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                  </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
