<div id="header_main" class="header_1 js-header">
  <div class="themes-container ">
    <div class="row">
      <div class="col-md-12">
        <div id="site-header-inner">
          <div class="wrap-box relative">
            <div id="site-logo" class="clearfix">
              <div id="site-logo-inner">
                <a href="index.html" rel="home" class="main-logo">
                  <img id="logo_header" src="assets/images/logo/logo.png" alt="img" width="155" height="46">
                </a>
              </div>
            </div>
            <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
            <nav id="main-nav" class="main-nav">
              <ul id="menu-primary-menu" class="menu">
                <li class="menu-item" [ngClass]="{'current-menu-item': headerService.getItem() === 'home'}">
                  <a (click)="toogleSelectemItem('home')" href="/home">Home</a>
                </li>

                <li class="menu-item" [ngClass]="{'current-menu-item': headerService.getItem() === 'services'}">
                  <a (click)="toogleSelectemItem('services')" data-scroll href="/services">Services</a>
                </li>

                <li class="menu-item" [ngClass]="{'current-menu-item': headerService.getItem() === 'about'}">
                  <a (click)="toogleSelectemItem('about')" data-scroll href="/about">About</a>
                </li>

                <li class="menu-item" [ngClass]="{'current-menu-item': headerService.getItem() === 'projects'}">
                  <a href="/projects" (click)="toogleSelectemItem('projects')"> Projects</a>
                </li>

                <li class="menu-item" [ngClass]="{'current-menu-item': headerService.getItem() === 'blog'}">
                  <a (click)="toogleSelectemItem('blog')" href="/blog">Blog</a>
                </li>

                <li class="menu-item" [ngClass]="{'current-menu-item': headerService.getItem() === 'contact'}">
                  <a (click)="toogleSelectemItem('contact')" data-scroll href="#contact">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mode_switcher">
    <a href="#" class="light is_active">
      <img src="assets/images/icon/sun.png" alt="">
    </a>
    <a href="#" class="dark">
      <img src="assets/images/icon/moon.png" alt="">
    </a>
  </div>
</div>
