<div id="wrapper">
  <div id="page" class="clearfix">
    <!-- img blog detail -->
    <img class="image-details" src="{{obj.imageSrc}}" />

    <!-- blog details -->
    <div class="flat-blog-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="post">
              <div class="heading-post">
                <h6 class="text-u text-color-3 ls-01">{{obj.title}}</h6>
                <h2 class="text-t">{{obj.description}}</h2>
                <div class="box-meta flex-three">
                  <img src="assets/images/blog/avatar-blog.jpg" alt="">
                  <div class="meta texts-p"> by Our comapany, {{obj.date}}</div>
                </div>
              </div>
              <p class="text p-18">{{obj.content}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
