<div id="blog" class="tf-section2 flat-blog-post">
  <div class="themes-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="heading-section center">
          <h5>Blog</h5>
          <h2 class="title-section" (click)="data()"> Latest Posts</h2>
        </div>
      </div>
        <div *ngFor="let blog of blogs" class="col-lg-4 col-md-4 col-sm-12" >
          <div class="wrap-post hover-img" [routerLink]="['/blog/{{blog.id}}']" [state]="
            {
              id: blog.id,
              title: blog.title,
              description: blog.description,
              content: blog.content,
              imageSrc: blog.imageSrc
            }">
            <div class="images img-style">
              <img src="{{blog.imageSrc}}" alt="img">
            </div>
            <div class="content">
              <div class="sub-title text-p">{{blog.date}}</div>
              <h4 class="text-t link-style-3"><a href="blog-details.html">{{blog.description}}</a>  </h4>
              <h6 class="meta "> By Our company </h6>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
