<app-loader></app-loader>

<div id="wrapper">
  <div id="page" class="clearfix">
    <app-header></app-header>
    <app-slider></app-slider>
    <app-services></app-services>
    <app-about></app-about>
    <app-portfolio></app-portfolio>
    <app-process></app-process>
    <app-development></app-development>
    <app-faq></app-faq>
    <app-skills></app-skills>
    <app-testimonial></app-testimonial>
    <app-blog></app-blog>
    <app-brands></app-brands>
    <app-contact-us></app-contact-us>
    <app-summary></app-summary>
    <app-footer></app-footer>
  </div>
</div>

<a id="scroll-top"></a>
