<section class="tf-section2 flat-faq">
  <div class="themes-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="wrap-faq">
          <div class="heading-section">
            <h5>Vision</h5>
            <h2 class="title-section">Real Passion to Create Amazing Thing </h2>
            <p class="texts p-18 text-color-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form .</p>
          </div>
          <div class="flat-accordion fl-faq-content">
            <div class="flat-toggle">
              <div class="toggle-title ">Work Strategi<div class="btn-toggle"></div></div>
              <div class="toggle-content section-desc">
                <p>Lorem ipsum dolor sit amet. Eos voluptatem quidem ea laborum numquam ut quia deserunt. Et galisum animi hic facilis dolorum cum molestiae
                  consequuntur aut rerum aliquam. Et dolor labore est architecto accusantium sed ullam eveniet rem quibusdam nesciunt aut voluptatem.</p>
              </div>
            </div>
            <div class="flat-toggle">
              <div class="toggle-title active">The process of Our work<div class="btn-toggle"></div></div>
              <div class="toggle-content section-desc">
                <p>Lorem ipsum dolor sit amet. Eos voluptatem quidem ea laborum numquam ut quia deserunt. Et galisum animi hic facilis dolorum cum molestiae
                  consequuntur aut rerum aliquam. Et dolor labore est architecto accusantium sed ullam eveniet rem quibusdam nesciunt aut voluptatem.</p>
              </div>
            </div>
            <div class="flat-toggle">
              <div class="toggle-title">Core Value of Development<div class="btn-toggle"></div></div>
              <div class="toggle-content section-desc">
                <p>Lorem ipsum dolor sit amet. Eos voluptatem quidem ea laborum numquam ut quia deserunt. Et galisum animi hic facilis dolorum cum molestiae
                  consequuntur aut rerum aliquam. Et dolor labore est architecto accusantium sed ullam eveniet rem quibusdam nesciunt aut voluptatem.</p>
              </div>
            </div>
            <div class="flat-toggle">
              <div class="toggle-title">Desire to work hard<div class="btn-toggle"></div></div>
              <div class="toggle-content section-desc">
                <p>Lorem ipsum dolor sit amet. Eos voluptatem quidem ea laborum numquam ut quia deserunt. Et galisum animi hic facilis dolorum cum molestiae
                  consequuntur aut rerum aliquam. Et dolor labore est architecto accusantium sed ullam eveniet rem quibusdam nesciunt aut voluptatem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
