<div class="widget-social-footer bt-footer home-style">
  <div class="themes-container">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12">
        <p class="title-bottom"> © 2022 Web <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a></p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="wrap-list">
          <ul class="text-color-1 flex">
            <li><h5><a href="#"> Home</a></h5></li>
            <li><h5><a href="#about">About</a> </h5>  </li>
            <li><h5><a href="#service">Service</a> </h5> </li>
            <li><h5><a href="#blog">Blog</a></h5></li>
            <li><h5><a href="#contact">Contact</a> </h5> </li>
            <li><h5><a href="#project">Project</a></h5> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="icon-bottom text-color-1">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>

</div>
